Django==5.2.7
openai==2.1.0
pandas==2.3.3
openpyxl==3.1.5
python-docx==1.2.0
PyPDF2==3.0.1
python-decouple==3.8

gspread==5.12.0
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-auth-httplib2==0.2.1

dj-database-url==3.0.1
psycopg[binary]==3.2.2
python-dotenv==1.2.1
